<h1>Demonstration of Using Google Sheets API</h1>
<div *ngIf="isSignedIn">
	<button class="sign-out" matTooltip="Sign out" (click)="signOut()">Sign out
	</button>
</div>
<div [style.display]="googleDisplay">
	<div class="g-signin2" data-onsuccess="onSignIn" data-theme="dark">
	</div>
</div>
<nav>
	<a routerLink="/simple" routerLinkActive="active">
		Simple Demo</a>
	<a routerLink="/hooks" routerLinkActive="active">
		Hooks Demo</a>
	<a routerLink="/privacy" routerLinkActive="active">
		Privacy Policy</a>
</nav>
<router-outlet></router-outlet>