<br>
<div *ngIf="isSignedIn">
	<button class="sign-out" matTooltip="Sign out" (click)="signOut()">Sign out
	</button>
</div>
<div [style.display]="googleDisplay">
	<div class="g-signin2" data-onsuccess="onSignIn" data-theme="dark">
	</div>
</div>

<p>
	The Google Sign-in button, or a Sign out button, should appear to the right.
</p>

<form (ngSubmit)="onSubmit()" #demoForm="ngForm">
	<div class="form-group">
		<label>Spreadsheet ID (the long text between the /d/ and the /edit/</label>
		<input type="text" class="form-control" id="sheetId" required [(ngModel)]="model.sheetId" name="sheetId" #sheetId="ngModel">
	</div>

	<div class="form-group">
		<label>Range e.g. Sheet1!A1</label>
		<input type="text" class="form-control" id="range" [(ngModel)]="model.range" name="range">
	</div>

	<button type="submit" class="btn btn-success">Submit</button>

</form>
<br>
<pre>{{ output }}</pre>
<p>{{ jsonData }}</p>